<html>
    <head>

    </head>
    <body>
        <table border=1px;>
            <tr>
                <th>Firstname</th>
                <td><%= md.fname %></td>
            </tr>
            <tr>
                <th>LastName</th>
                <td><%= md.lname %></td>
            </tr>
            <tr>
                <th>Age</th>
                <td><%= md.age %></td>
            </tr>
            <tr>
                <th>Mobile number</th>
                <td><%= md.number %></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><%= md.email %></td>
            </tr>
            <tr>
                <th>Gender</th>
                <td><%= md.Gender %></td>
            </tr>
            <tr>
                <th>Hobbies</th>
                <td><%= md.Hobbies.toString() %></td>
            </tr>
            <tr>
                <th>Address</th>
                <td><%= md.address %></td>
            </tr>
        </table>
        <a href="http://localhost:8080/">Home</a>
    </body>
</html>